*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
        font-family: "Raleway", sans-serif;
        font-optical-sizing: auto;
      
      
}
.blueCastle{
    z-index: 0;
    position: absolute;
    width: 450px;
    top: 47.5%;
    left: 70.5%;
}


.blueCastle:hover{
    filter: drop-shadow(5px 7px 5px blue);
    cursor: pointer;
}
.redCastle{
    z-index: 0;
    position: absolute;
    width: 277px;
    top: 1.8%;
    left: 2%;
}
.redCastle:hover{
    filter: drop-shadow(5px 7px 5px red);
    cursor: pointer;
}
.stone{
    /* z-index: -1; */
    width: 210px;
    transform: rotate(-20deg);
    position: absolute;
    top: 40%;
    left: 7%;
}
.stone{
    /* z-index: -1; */
    width: 210px;
    transform: rotate(-20deg);
    position: absolute;
    top: 40%;
    left: 7%;
}
.container{
    background-image: url("images/photoshop3.png");
    height: 100vh;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    width: 100%;
    
}
#blueCastleInfo{
    width: 400px;
    height: 50px;
    border-radius: 10px;
    background-color: #fff;
    position: absolute;
    top: 37%;
    left: 72%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-size: larger;
    animation: ds 2s ease-in-out infinite;

}
#redCastleInfo{
    width: 400px;
    height: 50px;
    border-radius: 10px;
    background-color: #fff;
    position: absolute;
    top: 10%;
    left: 23%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-size: larger;
    animation: dsred 2s ease-in-out infinite;

}
#tr{
    width: 20px;
    height: 20px;
    transform: rotate(45deg);
    background-color: white;
    position: absolute;
    top: 80%;
    left: 45%;
    z-index: 555;
    transition: all ease-in-out .5s;

}
#trRed{
    width: 20px;
    height: 20px;
    transform: rotate(45deg);
    background-color: white;
    position: absolute;
    top: 30%;
    left: -8px;
    z-index: 555;
    transition: all ease-in-out .5s;
}
.strechInfoBlue{
    z-index: 40;
    height: 300px !important;
    top: 5% !important;
    transition: all .5s ease-in-out ;
    flex-direction: column;
    align-items: start !important;
}
.shrinkInfoBlue{
    z-index: 999;
    height: 50px !important;
    top: 37% !important;
    transition: all .5s ease-in-out ;
    flex-direction: column;
    align-items: start !important;
}

.shrinkInfoRed{
    height: 50px !important;
    top: 10% !important;
    transition: all .5s ease-in-out ;
    flex-direction: column;
    align-items: start !important;
}
.shrinkInfoRed  div  div{
    display: none !important;
}
.shrinkInfoRed .cancelInfoButton{
    display: none !important;

}
.shrinkInfoBlue:last-child{
    display: none !important;
}
.shrinkInfoBlue .cancelInfoButton{
    display: none !important;

}
.strechInfoRed{
    height: 300px !important;
    top: 5% !important;
    transition: all ease-in-out .5s;
    flex-direction: column;
    align-items: start !important;
}
.guerrierIconValid:hover{
    cursor: pointer;
    width: 100px !important;
    height: 100px !important;
    transition: all ease-in-out .2s;

}
.guerrierIconInvalid{
    transition: all ease-in-out .2s;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    filter: grayscale(100%);
    opacity: .5;
}
.guerrierIconInvalid:hover{
    cursor:not-allowed;
    width: 100px !important;
    height: 100px !important;
    transition: all ease-in-out .2s;

}
.guerrierIconValid{
    transition: all ease-in-out .2s;
    width: 80px;
    height: 80px;
    border-radius: 50%;
}
.chosenGuerrierblue{
    transition: all .3s ease-in-out;
}
.chosenGuerrierblue:hover{
    cursor: pointer;
}
.chosenGuerrierred:hover{
    cursor: pointer;
}
@keyframes ds{
    0%{
        transform: translateY(0);
    }
    50%{
        transform: translateY(10px);
    }
    100%{
        transform: translateY(0);
    }
}

@keyframes dsred{
    0%{
        transform: translateX(0);
    }
    50%{
        transform: translateX(10px);
    }
    100%{
        transform: translateX(0);
    }
}

/* -------------------------------------------- */

#test0{
    background-image: url("images/stonc1.png");
    background-size: 100% 100%;
    position: absolute;
    top: 77.5%;
    left: 56%;
    width: 315px;
    height: 160px;
    z-index: 99;
    /* clip-path:(0% 8%,41.00% 1.00%,100% 46%,37% 58%); */
    /* clip-path:circle(50%) */
}
#test1{
    z-index: 98;
    background-image: url("images/stonc1.png");
    background-size: 100% 100%;
    position: absolute;
    top:73%;
    left: 48%;
    width: 300px;
    height: 145px;
    /* clip-path:(0% 8%,41.00% 1.00%,100% 46%,37% 58%); */
    /* clip-path:circle(50%) */
}
#test2{
    z-index: 99;

    background-image: url("images/stonc1.png");
    background-size: 100% 100%;
    position: absolute;
    top:68.5%;
    left: 40%;
    width: 285px;
    height: 130px;
    /* clip-path:(0% 8%,41.00% 1.00%,100% 46%,37% 58%); */
    /* clip-path:circle(50%) */
}
#test3{
    z-index: 99;

    background-image: url("images/stonc1.png");
    background-size: 100% 100%;
    position: absolute;
    top:65%;
    left: 32%;
    width: 270px;
    height: 115px;
    /* clip-path:(0% 8%,41.00% 1.00%,100% 46%,37% 58%); */
    /* clip-path:circle(50%) */
}
#test4{
    z-index: 99;

    background-image: url("images/stonc1.png");
    background-size: 100% 100%;
    position: absolute;
    top:61.8%;
    left: 24.5%;
    width: 255px;
    height: 100px;
    /* clip-path:(0% 8%,41.00% 1.00%,100% 46%,37% 58%); */
    /* clip-path:circle(50%) */
}
#test5{
    z-index: 99;

    background-image: url("images/stonc1.png");
    background-size: 100% 100%;
    position: absolute;
    top:59.3%;
    left: 17.5%;
    width: 240px;
    height: 85px;
    /* clip-path:(0% 8%,41.00% 1.00%,100% 46%,37% 58%); */
    /* clip-path:circle(50%) */
}
#test6{
    z-index: 99;

    background-image: url("images/stonc1.png");
    background-size: 100% 100%;
    position: absolute;
    top:56%;
    left: 11%;
    width: 225px;
    height: 80px;
    /* clip-path:(0% 8%,41.00% 1.00%,100% 46%,37% 58%); */
    /* clip-path:circle(50%) */
}
#test7{
    z-index: 99;

    background-image: url("images/stonc1.png");
    background-size: 100% 100%;
    position: absolute;
    top:52.7%;
    left: 5%;
    width: 210px;
    height: 80px;
    /* clip-path:(0% 8%,41.00% 1.00%,100% 46%,37% 58%); */
    /* clip-path:circle(50%) */
}
#test8{
    z-index: 99;
    background-image: url("images/stone3.png");
    background-size: 100% 100%;
    position: absolute;
    top:48.2%;
    left: 5.4%;
    width: 172px;
    height: 85px;
    /* filter: drop-shadow(1px 1px 1px rgb(39, 10, 134)); */
    /* clip-path:(0% 8%,41.00% 1.00%,100% 46%,37% 58%); */
    /* clip-path:circle(50%) */
}
.popUp{
  animation: popup .5s ease-in-out;
    /* transition: all .5s ease-in-out; */
}


.playButton:hover{
    cursor: pointer;
}


.cancelInfoButton{
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-color: red;
    position: absolute;
    top: .3rem;
    left: 92%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    transition: all  1s ease-in-out;


}
.cancelInfoButton:hover{
    cursor: pointer;
}

.leftAlertToast{
    z-index: 430;
    display :flex;
    position : absolute;
    
    top : 87%;
    left : 10%;
    border-radius :5px;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    
    animation: popup 0.3s ease-in-out;
}
.rightAlertToast{
    z-index: 430;
    display :flex;
    position : absolute;

    top : 6%;
    right : 10%;
    border-radius :5px;
    justify-content: center;
    align-items: center;
    padding: 1rem;
 
    animation: popup 0.3s ease-in-out;
}
.killAlertToast{
    animation: popout 0.2s ease-in-out;
}
.gameBeginToastButton{
    width: 100px;
    height: 50px;
    background-color: #ab3230;
    position: absolute;
    top: 34%;
    left: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 20px;
    border-radius: 10px;
    /* background-color: #fff; */
}
.gameBeginToastButton:hover{
    cursor: pointer;
}
.gameBeginToast{
    width: 100vw !important;
    height: 100vh;
    position: absolute;
    top: -100%;
    left: 0rem;
    z-index: 9999999;
    background-color: rgba(255, 255, 255 , 0.2);
    backdrop-filter: blur(10px);
    transform: translateY(100%);
    box-sizing: border-box;
    transition: all 2s ease-in-out;
}
.redFrame{
    z-index: 5;
    width: 300px;
    position: absolute;
    top: 20%;
    left: 10%;
}
.blueFrame{
    z-index: 5;
    width: 300px;

    position: absolute;
    top: 20%;
    right: 10%;
}
.redImage{
    width: 230px;
    position: absolute;
    top: 24%;
    left: 12%;
    border-radius: 50%;
}
.blueImage{
    width: 230px;
    position: absolute;
    top: 24%;
    right: 12%;
    border-radius: 50%;
}
.redName{
    width: 230px;
    height: 40px;
    border-radius: 5px;
    position: absolute;
    top: 64%;
    left: 13%;
    background-color: #fc0606;
    display: flex;
    color: white;
    font-size: 30px;
    justify-content: center;
    align-items: center;
}
.blueName{
    width: 230px;
    height: 40px;
    border-radius: 5px;
    position: absolute;
    top: 64%;
    right: 13%;
    background-color: #063bfc;
    display: flex;
    color: white;
    font-size: 30px;
    justify-content: center;
    align-items: center;
}

.redFrameGame{
    z-index: 5;
    width: 120px;
    position: absolute;
    top: 83%;
    left: 1%;
}
.blueFrameGame{
    z-index: 5;
    width: 120px;

    position: absolute;
    top: 2%;
    right: 1%;
}
.redImageGame{
    width: 94px;
    position: absolute;
    top: 84.5%;
    left: 2%;
    border-radius: 50%;
}
.blueImageGame{
    width: 94px;
    position: absolute;
    top: 3.5%;
    right: 2%;
    border-radius: 50%;
}
.redNameGame{
    padding: .5rem  ;
    border-radius: 5px;
    position: absolute;
    top: 77%;
    left: 2%;
    background-color: #fc0606;
    display: flex;
    color: white;
    font-size: 15px;
    justify-content: center;
    align-items: center;
}
.blueNameGame{
    padding: .5rem;
    border-radius: 5px;
    position: absolute;
    top: 18%;
    right: 2%;
    background-color: #063bfc;
    display: flex;
    color: white;
    font-size: 15 px;
    justify-content: center;
    align-items: center;
}
@keyframes popup{
    0%{
        transform: scale(0);
    }
    100%{
        transform: scale(1);
    }
}
@keyframes popout{
    0%{
        transform: scale(1);
    }
    100%{
        transform: scale(0);
    }
}
